
body {
    font-family: helvetica;
    padding: 0;
    margin: 0;
    letter-spacing: 1.5px;
}

/* Navigation bar */

.navbar a {
    color: black;
    text-decoration: none;
}

.name {
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 30px;
}

.nav {
    float: right;
}

.nav ul {
    list-style-type: none;
    padding: 30px;
    text-align: right;
    vertical-align: middle;
}

.nav li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}

/* Content below navigation bar */

.content {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 30px; 
}

/* Header for new sections of website */

.header {
    border-top: medium solid lightgray;
    border-bottom: medium solid lightgray;
    text-align: center;
    background-color: lightblue;
    width:100%; 
    padding: 30px;
}

/* Make bio image circular*/

.header img {
    border-radius: 50%
}

/* Reducing width of website elements to 50% */

#bio, #contact, .list, .post{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

/* Add bottom border to resume list and change date text color */

.item {
    border-bottom: medium solid lightgray;
    padding: 10px;
}

.date {
    line-height: normal;
    color: darkgray;
}

/* Add border around posts and align attachments to the center */

.post {
   border: medium solid lightgray; 
}

.attach {
    text-align: center;
}

/* Slideshow cursor and image dimensions and alignment */

#prev, #next {
  cursor: pointer;
  padding: 20px;
  color: lightgray;
  font-weight: bold;
  font-size: 20px;
}

#prev:hover, #next:hover {
  background-color: black;
}

#slideshow img {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}
