
body {
    background-color: lightblue;
    font-family: verdana;
}

#header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 650px;

}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

h1 {
    text-align: center;
}

.section {
    float: left;
}

.left {
    width: 60%;
}

.right{
    width: 40%;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}

